<div class="container">
  <h1>These are all Cocktails:</h1>

  <% @cocktails.each do |cocktail| %>
    <ul>
      <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    </ul>
  <% end %>
  <%= link_to '+ Add new cocktail', new_cocktail_path, class: "btn btn-primary" %>
</div>

<%= cl_image_tag("ye4edclmddmghficeqxp",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("ej1jpnfwuwlgbaobm2hs",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
